body,
h1,
h2 {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 99, 99);
  height: 10vh;
}
nav img {
  height: 100%;
}
main {
  background-color: rgb(12, 56, 72);
  min-height: 80vh;
}
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 9, 82);
}

.pet-card {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pet-card img {
  height: 100px;
}
.felix {
  box-shadow: 10px 10px 30px red;
}
