body {
  background-color: rgb(10, 126, 126);
}
#game-container {
  display: none;
  justify-content: space-around;
  align-items: flex-start;
}
#game-screen {
  display: none;
  background-color: rgb(19, 80, 193);
}
#gameover-screen {
  display: none;
}
.heart {
  height: 50px;
}
