body {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
.light-theme {
  background-color: rgb(22, 146, 146);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-theme {
  background-color: rgb(12, 63, 63);
  color: aliceblue;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  height: 8vh;
  border-radius: 50%;
}
footer {
  background-color: rgb(91, 200, 164);
  height: 10vh;
}

#our-body-dark {
  min-height: 80vh;
  background-color: rgb(18, 8, 47);
  text-align: center;
}
#our-body-light {
  min-height: 80vh;
  background-color: rgb(135, 110, 212);
  text-align: center;
}
.navlink {
  color: rgba(234, 240, 235, 0.341);
  text-decoration: none;
  padding: 5px;
}

.active {
  border: 2px solid black;
}

.pet-card {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
label {
  margin: 5px;
}
.detail-image {
  height: 50vh;
}
button {
  margin-left: 10px;
}
