body {
  background-color: rgb(42, 30, 114);
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  height: 30px;
}
#buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button {
  border-radius: 20px;
  border: none;
  padding: 15px;
  margin: 5px 40px;
}
#bottom-btn {
  background-color: black;
}
